
<%# 検索フォーム %>
<div class="form">
  <div class="form-body">
    <%= search_form_for @q do |f| %>
  
      <div><%= f.label :title_cont, "タイトルを検索" %></div>
      <div class="form-search"><%= f.search_field :title_cont, :placeholder => "キーワードを入力" %></div>
      <div class="form-search"><%=f.submit %></div><br><br>

    <% end %>

  </div>
</div>



<div class="main posts-index">
  <div class="container">

    <% @articles.each do |article| %>    
     	  <div class="article">
          <h4><%= link_to(article.title , "/articles/#{article.id}" ) %></h4>
     	 	  <%= link_to gravatar_for(article.user,size: 50),article.user %>
          <h6><%=link_to(article.user.name, article.user) %>が<%= article.created_at %>に投稿</h6>
          <% article.tag_list.each do |tag| %>
            <p class="label label-primary"><%= link_to(tag, "#") %></p>
          <% end %>  	 	  
          
        </div>

    <% end %>
  </div>
</div>