<div class="main article-new">
	<div class="container">
		<h1 class="form-heading">投稿する</h1>
		<%= form_tag("/articles/create") do %>
			<div class="form">
				<div class="form-body">
					<% @article.errors.full_messages.each do |message| %>
						<div class="form-error">
							<%= message %>
						</div>
					<% end %>

					<div><input type="text" name="title" placeholder="タイトル"><%= @article.title %></div>

					<div> 
						<input type="text" name="tag_list" placeholder="プログラミング技術に関するタグをカンマ区切りで5つまで入力"><%= @article.tag_list.join(",") %>
					</div>


					<div><textarea type="text" name="content" placeholder="プログラミング知識を共有しよう！"><%= @article.content %></textarea></div>
					<div><input type="submit" value="投稿"></div>

						
				



				</div>
			</div>
		<% end %>
	</div>
</div>


