<br><br><br><br>
<div class="main articles-show">
  
  <div class="container">
    <div class="articles-show-item">

        <div class="article-user-name">
          <a><%= link_to gravatar_for(@article.user,size: 50),@article.user %></a>
          <br><h5><%= @article.user.name %></h5>
          <h5><%= @article.created_at %>に投稿</h5>
          
        </div>
       

        <div><h2><%= @article.title %></h2></div>       

        <% @article.tag_list.each do |tag| %>
          <span class="label label-primary">
             <a><%= link_to tag, tag_path(tag) %></a>
          </span>  
        <% end %> 
      
        <div><br><p><%= @article.content %></p></div>



        <% if @article.user_id == @current_user.id %>
          <div class="article-menus">
            <a><%= link_to("編集", "/articles/#{@article.id}/edit") %></a>
            <a><%= link_to("削除", "/articles/#{@article.id}/destroy", {method: "article"}) %></a>
          </div>
        <% else %>

          <% if Stock.find_by(user_id: @current_user.id,article_id: @article.id)%>
            <a><%= link_to("ストック済み","/stocks/#{@article.id}/destroy",{method: "article"})%>
          <% else %></a>
            <a><%= link_to("ストックする","/stocks/#{@article.id}/create",{method: "article"})%>
          <% end%></a>

        <% end %>

      
    </div>
  </div>  

</div>


