<div class="container">
<br><br><br><br>
    <% provide(:title, "Edit user")%>
    <h2>プロフィール設定</h2>

    <div class="form-error">
        <% @user.errors.full_messages.each do |message| %>
        	<%= message %><br>
        <% end %>
    </div>

    <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <br>
        <a a href="http://gravatar.com/emails" target="_blank">変更</a>
    </div>

    <br>

    <%= form_for(@user) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", :placeholder => "ユーザー名" %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :placeholder => "メールアドレス" %>

        <%= f.label :self_introduction %>
        <%= f.text_field :self_introduction, class: "form-control", :placeholder => "自己紹介"%>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", :placeholder => "パスワードを変更する場合は入力してください" %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "パスワード確認"  %>

        <br>
        <%= f.submit "保存する", class: "btn btn-success" %>
    <% end %>

</div>
