<h1>Qiitaへようこそ</h1>
<p>新規登録(無料)して利用を開始しましょう。</p>


<% @user.errors.full_messages.each do |message| %>
	<%= message %>
<% end %>


<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.text_field :password %>

	<%= f.submit "新規登録", class: "btn btn-primary" %>
<% end %>




