<% provide(:title, @user.name) %>

<div class="container">
	<div class="main">
		<div class="user-show">
			<%= gravatar_for @user,size:200%>
			<h3><%= @user.name %></h3>
			<h5><%= @user.email %></h5>
			<h5><%= @user.self_introduction %></h5>

			<% if logged_in? %>
				<% if @user.id == @current_user.id %>
					<%= link_to("/users/#{@user.id}/edit") do %>
						<span class="fa fa-edit fa-2x"></span>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<br>
		
		<h4>投稿した記事</h4>
		<%= render 'shared/posts_index', object: @articles %>
	</div>
</div>
