<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - QiitaClone</title>
    <%= render 'layouts/rails_default'%>
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <div class="flash"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
